.nl-backlink {
  color: var(--nl-backlink-color, var(--nl-link-color));
  text-decoration: none;
}

.nl-backlink__icon {
  vertical-align: middle;
  fill: currentColor;
  height: var(--nl-backlink-icon-size);
  width: auto;
}

.nl-backlink__text {
  margin-inline-start: 1ch;
}

.nl-backlink:hover .nl-backlink__text {
  border-bottom: 1px solid currentColor;
}

.nl-backlink:hover .nl-backlink__icon {
  transform: translateX(-0.2ch);
}
