:root {
  --nl-status-badge-border-radius: 100px;
  --nl-status-badge-text-transform: uppercase;
  --nl-status-badge-padding-block: 1ch;
  --nl-status-badge-padding-inline: 2ch;
  --nl-status-badge-font-family: Arial;
  --nl-status-badge-font-weight: 700;
  --nl-status-badge-font-size: 0.75rem;
  --nl-status-badge-success-background-color: #008000;
  --nl-status-badge-success-color: white;
  --nl-status-badge-warning-background-color: #ffa500;
  --nl-status-badge-warning-color: black;
  --nl-status-badge-error-background-color: #dc143c;
  --nl-status-badge-error-color: white;
}
